/node_modules
/public/hot
/public/storage
/storage/*.key
/client/static/sw.js
/vendor
/.osp
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.nuxt
.idea
/dist
/public/_nuxt
/.vscode
